<main>
  <section id="navigation">
    {{#if currentUser.isLoggedIn}}
      {{#md-navbar name="Warehouse Setup" class="brown lighten-1"}}
        {{#link-to "tiles" tagName='li'}}
          {{#link-to "tiles"}}
            Layout
          {{/link-to}}
        {{/link-to}}
        {{#link-to "employees" tagName='li'}}
          {{#link-to "employees"}}Employees{{/link-to}}
        {{/link-to}}
        {{#link-to "plan" tagName='li'}}
          {{#link-to "plan"}}Service Plan{{/link-to}}
        {{/link-to}}
      {{/md-navbar}}
    {{else}}
      {{#md-navbar name="Authentication Required" class="red"}}
        {{#link-to "index" tagName='li'}}
          {{#link-to "index"}}Log In{{/link-to}}
        {{/link-to}}
      {{/md-navbar}}
    {{/if}}
  </section>
  <section id="content">
    {{outlet}}
  </section>
  {{ember-notify messageStyle="bootstrap" closeAfter=10000}}
  {{!-- ember-cli-materialize modal container --}}
  {{md-modal-container}}
</main>
<section id="footer">
  {{#md-copyright text='SIMWMS' startYear=2014}}
    <a class="grey-text text-lighten-1 right" href="#!">Installer</a>
  {{/md-copyright}}
</section>